/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background-image: url('/assets/Lands_Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.5em; /* Increase font size */
    font-weight: bold;
    line-height: 1; /* Improve line height for readability */
    text-shadow: 1px 1px 2px rgb(245, 243, 243); /* Add subtle text shadow */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure body takes up full viewport height */
  }
  