.cropped-image-container {
    /* overflow: auto;  */
    height: 100%;
    clip-path: inset(8px 8px 185px 8px);
}
/* top right bottom left */


.mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    fill: rgb(33, 11, 228);
}

.home-button {
    font-size: inherit;
}